venv/
.venv/

uploads/*.png
uploads/*.jpg
!uploads/
!uploads/.gitkeep

__pycache__/
*.pyc
*.pyo
*.pyd

.env

.vscode/
.idea/
*.swp
*.swo
cor
.DS_Store
Thumbs.db

pip-log.txt
pip-delete-this-directory.txt

logs/
*.log
